body  {
  background-color: #f0f0f0;>
}

hr {
  background-color: inherit;
  border-style: dotted none none none;
  border-top-width: thick;
  border-top-color: #CCCCCC;
  height: 2px;
  width: 65%;
}
img {
  height: 200px;
}

h1 {
  color: #a87d47;
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
  font-size: 300%;
  letter-spacing: 1.8px;
  word-spacing: 3.2px
}

h3 {
  color: #a87d47;
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
  font-size: 150%;
  letter-spacing: 1.8px;
  word-spacing: 0.5px
}

ul {
  color: #979191;
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
  font-size: 80%;
  letter-spacing: 1.8px;
  word-spacing: .2px
}

table {
  color: #979191;
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
  font-size: 80%;
  letter-spacing: 1.8px;
  word-spacing: .2px
}

ol {
  color: #979191;
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
  font-size: 80%;
  letter-spacing: 1.8px;
  word-spacing: .2px
}

form {
  color: #979191;
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
  font-size: 80%;
  letter-spacing: 1.8px;
  word-spacing: .2px
}

p {
  color: #979191;
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
  font-size: 80%;
  letter-spacing: 1.8px;
  word-spacing: .2px
}
